{% extends 'base.html' %}
{% block title %}Upload{% endblock %}

{% block content %}
    <!-- Home Glyph -->
    <a class="home-link" href="/">
        <i class="fas fa-home"></i>
    </a>

    <!-- Logo -->
    <div class="small-container">
        <img 
            src="{{ url_for('static', filename='images/logo_dark.png') }}" 
            class="img-fluid"
            alt="Logo Image"
        >
    </div>

    <!-- Error Alert -->
    <div id="error-container" class="small-container" {% if error_message %} {% else %} hidden {% endif %}>
        <div id="comment-no-user-alert">
            <div id="error-message" class="alert alert-danger " role="alert">
                {% if error_message %}
                    {{ error_message }}
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Image Upload Form -->
    <div class="small-container">
        <div class="card bg-dark text-white">
            <div class="card-body">
                <form id="post-image" method="POST" enctype="multipart/form-data" action="{{ url_for('upload_image') }}">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.title.label }}
                        {{ form.title(class="form-control") }}
                        {% if form.title.errors %}
                        <ul class="errors">
                            {% for error in form.title.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.description.label }}
                        {{ form.description(class="form-control") }}
                        {% if form.description.errors %}
                        <ul class="errors">
                            {% for error in form.description.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.uploadImage.label }}
                        {{ form.uploadImage(class="form-control-file") }}
                        {% if form.uploadImage.errors %}
                        <ul class="errors">
                            {% for error in form.uploadImage.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="termsCheck" required>
                        <label for="termsCheck" class="form-check-label">
                            I agree to the <a href="/terms" class="card-link">TOS & Privacy</a> rules.
                        </label>
                    </div>
                    <div class="mt-3 float-right">
                        <button type="submit" id="upload-button" class="btn btn-sm btn-outline-primary">Upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <!-- Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Image upload functions -->
    <script src="{{ url_for('static', filename='/javascripts/uploader.js') }}"></script>

    <script>
        const _form = document.getElementById('post-image');
        _form.onsubmit = (event) => {
            event.preventDefault();
            uploadImage();
        }
    </script>
    
{% endblock %}
